<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>helloJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  
  <context-param>
   <description>made by ECSIMSW</description>
   <param-name>defaultDIR</param-name>
   <param-value>/download</param-value> 
  </context-param>

  <!-- servlet registering -->
  <servlet>
    <servlet-name>myServlet</servlet-name>
    <servlet-class>com.ecsimsw.ServletEX</servlet-class>
          <init-param>
          <param-name>defaultId</param-name>
          <param-value>jinhwan</param-value>
      </init-param>
      <init-param>
          <param-name>defaultPw</param-name>
          <param-value>1234</param-value>
      </init-param>
  </servlet> 


    <!-- servlet registering -->
  <servlet>
    <servlet-name>myJSP</servlet-name>
    <jsp-file>/testJSP.jsp</jsp-file>
      <init-param>
          <param-name>defaultId</param-name>
          <param-value>jinhwan</param-value>
      </init-param>
      <init-param>
          <param-name>defaultPw</param-name>
          <param-value>1234</param-value>
      </init-param>
  </servlet> 
  
   <!-- servlet mapping -->
  <servlet-mapping>
  <servlet-name>myJSP</servlet-name>
  <url-pattern>/testJSP.jsp</url-pattern>
  </servlet-mapping>
  
</web-app>
